body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokemon__container {
  height: 100vh;
}

.pokemon__list {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.card__name {
  text-transform: capitalize;
}

.card__type {
  text-transform: uppercase;
}